body {
  margin: 20px 40px;
}

p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 16px;
}

/*--- This is the CSS class for the green rectangular blocks. Note that it uses display: flex ---*/

.wrapper {
  display: flex;
  height: 60px;
  background-color: green;
  margin-bottom: 20px;
}

/*--- flex: 1 makes it so that the div takes up all available space left in the parent element ---*/

.redExample {
  flex: 1;
  background-color: red;
}

/*--- Since both .redExample and .blueExample have flex: 1, they will take up an equal amount of space because they meet in the middle ---*/

.blueExample {
  flex: 1;
  background-color: blue;
}

/*--- flex-direction: row-reverse orders all child elements starting from right to left ---*/

.emptyExample2 {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
}

.blueExample2 {
  width: 80px;
  background-color: blue;
}

/* TODO: Add CSS for the rest of your solution below */

.wrapper3 {
  display: flex;
  height: 60px;
  background-color: green;
  margin-bottom: 20px;
  justify-content: space-between;
}

.red3 {
  background-color: red;
  width: 80px;
}

.green3 {
  background-color: green;
  flex: 1;
}

.blue3 {
  background-color: blue;
  width: 80px;
}

.blue4 {
  background-color: blue;
  width: 80px;
}

.red4 {
  background-color: red;
  flex-grow: 1;
}

.wrapper5 {
  display: flex;
  height: 60px;
  background-color: green;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.red5 {
  background-color: red;
  width: 40px;
  height: 40px;
}

.red6-left {
  background-color: red;
  flex:1;
}

.red6-right {
  background-color: red;
  flex:1;
}

.blue6 {
  background-color: blue;
  width: 80px;
}

.red7 {
  background-color: red;
  width: 80px;
  height: 60px;
  flex-shrink: 0;
}

.shell7 {
  background-color: transparent;
}

.wrapper8 {
  display: flex;
  height: 60px;
  background-color: green;
  margin-bottom: 20px;
  justify-content: space-between;
}

.orange8 {
  background-color: orange;
  width: 180px;
  flex-shrink: 0;
}

.wrapper9 {
  display: flex;
  height: 60px;
  background-color: green;
  margin-bottom: 20px;
  justify-content: center;
  gap: 60px;
}

.orange9 {
  background-color: orange;
  width: 180px;
}

